* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0b3d56;
  color: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #f7f7f7;
}

main {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 90%;
  max-width: 21.875rem;
  height: 31.25rem;
  background-color: #A35A00;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: -5px 8px 8px 0 rgba(0, 0, 0, .5);
}

.screen {
  width: 100%;
  height: 20%;
  background-color: #57350B;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  box-shadow: inset 0 0px 20px 0px rgba(0, 0, 0, .5);
}

.screen span {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: right;
}

.buttons {
  width: 100%;
  height: 80%;
  background-color: #57350B;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  gap: 5px;
}

.btn {
  border-radius: 10px;
  background-color: #0b3d56;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, .5);
  font-weight: 500;
}

.btn:hover {
  background-color: #0B70A3;
  transition: .15s ease-in-out;
}

.btn.double {
  grid-column: span 2;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 12px;
  text-align: center;
}

@media (max-width: 550px) {
  html {
    font-size: 14px;
  }
}